In [2]:
import numpy as np
import pandas as pd
import random

In [3]:
test = pd.read_csv('./test.csv')
test_nolabel = pd.read_csv('./test_nolabel.csv')
train = pd.read_csv('./train.csv')
train_label = pd.read_csv('./train_label.csv')

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91531 entries, 0 to 91530
Data columns (total 33 columns):
ID                                91531 non-null int64
hotel                             91531 non-null object
is_canceled                       91531 non-null int64
lead_time                         91531 non-null int64
arrival_date_year                 91531 non-null int64
arrival_date_month                91531 non-null object
arrival_date_week_number          91531 non-null int64
arrival_date_day_of_month         91531 non-null int64
stays_in_weekend_nights           91531 non-null int64
stays_in_week_nights              91531 non-null int64
adults                            91531 non-null int64
children                          91527 non-null float64
babies                            91531 non-null int64
meal                              91531 non-null object
country                           91063 non-null object
market_segment                    91531 non-null object
distribution_channel              91531 non-null object
is_repeated_guest                 91531 non-null int64
previous_cancellations            91531 non-null int64
previous_bookings_not_canceled    91531 non-null int64
reserved_room_type                91531 non-null object
assigned_room_type                91531 non-null object
booking_changes                   91531 non-null int64
deposit_type                      91531 non-null object
agent                             78314 non-null float64
company                           5614 non-null float64
days_in_waiting_list              91531 non-null int64
customer_type                     91531 non-null object
adr                               91531 non-null float64
required_car_parking_spaces       91531 non-null int64
total_of_special_requests         91531 non-null int64
reservation_status                91531 non-null object
reservation_status_date           91531 non-null object
dtypes: float64(4), int64(17), object(12)
memory usage: 23.0+ MB

In [5]:
train.isna().sum()

ID                                    0
hotel                                 0
is_canceled                           0
lead_time                             0
arrival_date_year                     0
arrival_date_month                    0
arrival_date_week_number              0
arrival_date_day_of_month             0
stays_in_weekend_nights               0
stays_in_week_nights                  0
adults                                0
children                              4
babies                                0
meal                                  0
country                             468
market_segment                        0
distribution_channel                  0
is_repeated_guest                     0
previous_cancellations                0
previous_bookings_not_canceled        0
reserved_room_type                    0
assigned_room_type                    0
booking_changes                       0
deposit_type                          0
agent                             13217
company                           85917
days_in_waiting_list                  0
customer_type                         0
adr                                   0
required_car_parking_spaces           0
total_of_special_requests             0
reservation_status                    0
reservation_status_date               0
dtype: int64

In [39]:
df = train.drop(['ID', 'is_canceled', 'adr', 'reservation_status', 'reservation_status_date'], axis=1)

In [40]:
def preprocess(df):
    df['children'] = df['children'].fillna(-1)
    df['company'] = df['company'].fillna(-1).astype(object)
    df['agent'] = df['agent'].fillna(-1).astype(object)
    df['country'] = df['country'].fillna('NA')
    df['arrival_date_year'] = df['arrival_date_year'].astype(object)
    df['arrival_date_week_number'] = df['arrival_date_year'].astype(object)
    df['arrival_date_day_of_month'] = df['arrival_date_day_of_month'].astype(object)
    df['children'] = df['children'].astype(np.int64)
preprocess(df)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91531 entries, 0 to 91530
Data columns (total 28 columns):
hotel                             91531 non-null object
lead_time                         91531 non-null int64
arrival_date_year                 91531 non-null object
arrival_date_month                91531 non-null object
arrival_date_week_number          91531 non-null object
arrival_date_day_of_month         91531 non-null object
stays_in_weekend_nights           91531 non-null int64
stays_in_week_nights              91531 non-null int64
adults                            91531 non-null int64
children                          91531 non-null int64
babies                            91531 non-null int64
meal                              91531 non-null object
country                           91531 non-null object
market_segment                    91531 non-null object
distribution_channel              91531 non-null object
is_repeated_guest                 91531 non-null int64
previous_cancellations            91531 non-null int64
previous_bookings_not_canceled    91531 non-null int64
reserved_room_type                91531 non-null object
assigned_room_type                91531 non-null object
booking_changes                   91531 non-null int64
deposit_type                      91531 non-null object
agent                             91531 non-null float64
company                           91531 non-null float64
days_in_waiting_list              91531 non-null int64
customer_type                     91531 non-null object
required_car_parking_spaces       91531 non-null int64
total_of_special_requests         91531 non-null int64
dtypes: float64(2), int64(13), object(13)
memory usage: 19.6+ MB

In [10]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score, mean_squared_error

In [11]:
y = train['adr']
X_train, X_val, y_train, y_val = train_test_split(df, y, test_size=0.2, random_state = 50)

features_to_encode = df.columns[df.dtypes==object].tolist()
col_trans = make_column_transformer((OneHotEncoder(handle_unknown='ignore'), features_to_encode), remainder='passthrough')

In [47]:
regr = make_pipeline(col_trans, svm.SVR(kernel='linear', C=1, epsilon=0.1, gamma='auto'))

In [48]:
regr.fit(df, y)

print(mean_squared_error(y, regr.predict(df)))
y_pred = regr.predict(df_test)

print(y_pred)
adr_result = pd.DataFrame(data=y_pred)
adr_result.to_csv('adr.csv', index=False)

1285.7357723832145
[109.19079673  55.8804597   79.08705052 ... 113.68812233  76.52804341
 136.91852942]

In [53]:
y = train['reservation_status']

In [66]:
clf = make_pipeline(col_trans, svm.SVC(kernel='linear', C=1, gamma='auto'))

In [69]:
clf.fit(df, y)

print(clf.score(df, y))
y_pred = clf.predict(df_test)

print(y_pred)
rs_result = pd.DataFrame(data=y_pred)
rs_result.to_csv('rs.csv', index=False)

0.8321989271394391
['Check-Out' 'Canceled' 'Check-Out' ... 'Check-Out' 'Check-Out'
 'Check-Out']

In [70]:
test_nolabel

    arrival_date
0     2017-04-01
1     2017-04-02
2     2017-04-03
3     2017-04-04
4     2017-04-05
5     2017-04-06
6     2017-04-07
7     2017-04-08
8     2017-04-09
9     2017-04-10
10    2017-04-11
11    2017-04-12
12    2017-04-13
13    2017-04-14
14    2017-04-15
15    2017-04-16
16    2017-04-17
17    2017-04-18
18    2017-04-19
19    2017-04-20
20    2017-04-21
21    2017-04-22
22    2017-04-23
23    2017-04-24
24    2017-04-25
25    2017-04-26
26    2017-04-27
27    2017-04-28
28    2017-04-29
29    2017-04-30
..           ...
123   2017-08-02
124   2017-08-03
125   2017-08-04
126   2017-08-05
127   2017-08-06
128   2017-08-07
129   2017-08-08
130   2017-08-09
131   2017-08-10
132   2017-08-11
133   2017-08-12
134   2017-08-13
135   2017-08-14
136   2017-08-15
137   2017-08-16
138   2017-08-17
139   2017-08-18
140   2017-08-19
141   2017-08-20
142   2017-08-21
143   2017-08-22
144   2017-08-23
145   2017-08-24
146   2017-08-25
147   2017-08-26
148   2017-08-27
149   2017-08-28
150   2017-08-29
151   2017-08-30
152   2017-08-31

[153 rows x 1 columns]

In [77]:
rs_result

               0
0      Check-Out
1       Canceled
2      Check-Out
3       Canceled
4       Canceled
5      Check-Out
6      Check-Out
7      Check-Out
8      Check-Out
9       Canceled
10     Check-Out
11      Canceled
12     Check-Out
13     Check-Out
14     Check-Out
15      Canceled
16     Check-Out
17     Check-Out
18     Check-Out
19      Canceled
20     Check-Out
21     Check-Out
22     Check-Out
23     Check-Out
24     Check-Out
25      Canceled
26     Check-Out
27     Check-Out
28     Check-Out
29      Canceled
...          ...
27829  Check-Out
27830   Canceled
27831  Check-Out
27832  Check-Out
27833   Canceled
27834  Check-Out
27835   Canceled
27836  Check-Out
27837  Check-Out
27838  Check-Out
27839  Check-Out
27840   Canceled
27841  Check-Out
27842  Check-Out
27843   Canceled
27844  Check-Out
27845  Check-Out
27846  Check-Out
27847  Check-Out
27848   Canceled
27849   Canceled
27850  Check-Out
27851  Check-Out
27852   Canceled
27853  Check-Out
27854  Check-Out
27855  Check-Out
27856  Check-Out
27857  Check-Out
27858  Check-Out

[27859 rows x 1 columns]

In [85]:
import math
import datetime

In [78]:
def foo(X_test, y_test, y_test_2):
    df = X_test
    df['adr'] = y_test
    df['reservation_status'] = y_test_2
    df = df[df['reservation_status']!='Canceled']
    df = df.drop(df[(df['reservation_status']=='No show') & (df['deposit_type']=='No Deposit')].index)
    df['stays_in_nights'] = df['stays_in_weekend_nights'] + df['stays_in_week_nights']
    df['label'] = df['adr']*df['stays_in_nights']
    df['arrival_date'] = df[['arrival_date_year', 'arrival_date_month', 'arrival_date_day_of_month']].agg('-'.join, axis=1)
    result = df[['arrival_date', 'label']]
    result = np.floor(result.groupby('arrival_date').sum()/10000)
    return result

In [79]:
result = foo(test, adr_result, rs_result)
result

TypeError: ('sequence item 0: expected str instance, int found', 'occurred at index 0')

In [99]:
df = test
df['adr'] = adr_result
df['reservation_status'] = rs_result
df = df[df['reservation_status']!='Canceled']
df = df.drop(df[(df['reservation_status']=='No show') & (df['deposit_type']=='No Deposit')].index)
df['stays_in_nights'] = df['stays_in_weekend_nights'] + df['stays_in_week_nights']
df['label'] = df['adr']*df['stays_in_nights']
df['arrival_date']=pd.to_datetime(df['arrival_date_year'].astype(int).astype(str)  + df['arrival_date_month'] + df['arrival_date_day_of_month'].astype(int).astype(str),format='%Y%B%d')
result = df[['arrival_date', 'label']]
result = np.floor(result.groupby('arrival_date').sum()/10000)
result

              label
arrival_date
2017-04-01      3.0
2017-04-02      3.0
2017-04-03      4.0
2017-04-04      2.0
2017-04-05      3.0
2017-04-06      2.0
2017-04-07      2.0
2017-04-08      4.0
2017-04-09      6.0
2017-04-10      4.0
2017-04-11      3.0
2017-04-12      2.0
2017-04-13      5.0
2017-04-14      4.0
2017-04-15      3.0
2017-04-16      4.0
2017-04-17      4.0
2017-04-18      2.0
2017-04-19      3.0
2017-04-20      3.0
2017-04-21      4.0
2017-04-22      3.0
2017-04-23      4.0
2017-04-24      3.0
2017-04-25      2.0
2017-04-26      2.0
2017-04-27      2.0
2017-04-28      5.0
2017-04-29      5.0
2017-04-30      3.0
...             ...
2017-08-02      3.0
2017-08-03      4.0
2017-08-04      3.0
2017-08-05      4.0
2017-08-06      4.0
2017-08-07      5.0
2017-08-08      2.0
2017-08-09      3.0
2017-08-10      3.0
2017-08-11      3.0
2017-08-12      4.0
2017-08-13      4.0
2017-08-14      4.0
2017-08-15      3.0
2017-08-16      3.0
2017-08-17      4.0
2017-08-18      4.0
2017-08-19      3.0
2017-08-20      5.0
2017-08-21      4.0
2017-08-22      2.0
2017-08-23      3.0
2017-08-24      3.0
2017-08-25      3.0
2017-08-26      4.0
2017-08-27      4.0
2017-08-28      4.0
2017-08-29      3.0
2017-08-30      2.0
2017-08-31      4.0

[153 rows x 1 columns]

In [104]:
result['label'].to_csv ('result.csv', index = True, header=True)